.venv
data
metastore_db
.idea
target
state
derby.log
src/main/scala-generated
config/index
viz/assets
viz/index.html
viz/images
viz/*.sh
viz/*.py
viz/config
viz/envConfig
viz/*.md
viz/*.txt
viz/*.png
viz/*.org
viz/exportedConfig.json
!viz/state